@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body{
  background: #f5f9fb91;
}

.navbar{

  display: flex;
  height: 60px;
  background: #fff;
  border-bottom: 2px solid rgb(219, 214, 214);
}

.navbar img{

  padding-left: 2rem;
}

.contact{

  width: 70vw;
  margin: 5rem auto;
}

.contacthead p{

  color: rgb(118, 115, 115);
}

.contactInfo{
  display: flex;
  margin: 2rem auto;
  gap: 5rem;
  justify-content: center;
}

.form{

  margin: 2rem auto;
}

.anotherOptions{
  display: flex;
  gap: 20px;
}

.others{
  height: 40px;
  width: 200px;
  gap: 10px;
  display: flex;
  border: none;
  background: #000;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.email{
  height: 40px;
  width: 420px;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 15px;
  font-weight: 500;
  background-color: #000;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.submit{
  display: flex;
  flex-direction: column;
}

.submit input{
  height: 40px;
  padding: 5px;
  font-size: 15px;
  margin-bottom: 20px;
  position: relative;
}

.submit textarea{

  font-size: 15px;
  padding: 15px;
}

.submit button{
  
  margin-top: 1rem;
  width: 150px;
  height: 40px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}